In [110]:
import psycopg2
import pandas as pd
import os
import datetime as dt

# ensure all columns are displayed when viewing a pandas dataframe
pd.set_option('display.max_columns', None)

In [510]:
def make_csv(query, filename):
   
    # check if file already exists
    if os.path.exists(filename):
        df = pd.read_csv(filename)
        return df
    # ensure all columns are displayed when viewing a pandas dataframe
    pd.set_option('display.max_columns', None)
    
    # Creating a connection to the database
    print("creating conecction...")
    con = psycopg2.connect(database="mid_term_project", 
                           user="lhl_student", 
                           password="lhl_student", 
                           host="lhl-data-bootcamp.crzjul5qln0e.ca-central-1.rds.amazonaws.com", 
                           port="5432")


    # creating a cursor object
    cur = con.cursor()
    # running an sql query
    print("running query...")
    cur.execute(query)
    # Storing the result
    rows = cur.fetchall()
    cols = [desc[0] for desc in cur.description]

    con.close()

    # writing the csv file
    print("writing file...")
    df = pd.DataFrame(rows, columns=cols)
    df.to_csv(filename, index=False)
    
    print('Done')
    
    return df

### List of columns I think are not important, redundant or not allowed
- 'dep_delay', 'arr_delay', 'nad_delay', 'security_delay', 'late_aircraft_delay', 'carrier_delay', 'weather_delay' - not allowed
- 'origin_city_name' and 'origin' - we already know the airport from feature 'origin_airport_id'
- 'dest_city_name' and 'dest' - already know airport from feature 'dest_airport_id'
- 'no_name' - not in data dictionary and all null values


### Columns i think can be modified to show pertenant info
- 'taxi_in' and 'taxi_out' find 'total_taxi'
- 'wheels_on' and 'wheels_off' find 'total_wheel'
- 'cancellation_code' - deterine which codes are for avoidable delays - (not including weather as we have no weather data... yet)
- 'fl_date' determine which flights left on which day of week - determine if weekend had more delays and so on
-

In [511]:
# will create file in place of ipynb file
test = make_csv("SELECT * FROM flights LIMIT 10000", "test_query2.csv")
test.head()

,fl_date,mkt_unique_carrier,branded_code_share,mkt_carrier,mkt_carrier_fl_num,op_unique_carrier,tail_num,op_carrier_fl_num,origin_airport_id,origin,origin_city_name,dest_airport_id,dest,dest_city_name,crs_dep_time,dep_time,dep_delay,taxi_out,wheels_off,wheels_on,taxi_in,crs_arr_time,arr_time,arr_delay,cancelled,cancellation_code,diverted,dup,crs_elapsed_time,actual_elapsed_time,air_time,flights,distance,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay,first_dep_time,total_add_gtime,longest_add_gtime,no_name
0,2018-01-07,AS,AS_CODESHARE,AS,2690,QX,N627QX,2690,14831,SJC,"San Jose, CA",14057,PDX,"Portland, OR",620,615.0,-5.0,20.0,635.0,801.0,2.0,815,803.0,-12.0,0.0,NaN,0.0,N,115.0,108.0,86.0,1.0,569.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2018-01-07,AS,AS_CODESHARE,AS,2695,QX,N446QX,2695,11884,GEG,"Spokane, WA",14057,PDX,"Portland, OR",839,837.0,-2.0,18.0,855.0,956.0,4.0,1003,1000.0,-3.0,0.0,NaN,0.0,N,84.0,83.0,61.0,1.0,279.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2018-01-07,AS,AS_CODESHARE,AS,2704,QX,N626QX,2704,14747,SEA,"Seattle, WA",12094,HDN,"Hayden, CO",1528,1537.0,9.0,17.0,1554.0,1843.0,4.0,1845,1847.0,2.0,0.0,NaN,0.0,N,137.0,130.0,109.0,1.0,891.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2018-01-07,AS,AS_CODESHARE,AS,2705,QX,N626QX,2705,12094,HDN,"Hayden, CO",14747,SEA,"Seattle, WA",1930,1917.0,-13.0,14.0,1931.0,2047.0,7.0,2126,2054.0,-32.0,0.0,NaN,0.0,N,176.0,157.0,136.0,1.0,891.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2018-01-07,AS,AS_CODESHARE,AS,2708,QX,N630QX,2708,14747,SEA,"Seattle, WA",12278,ICT,"Wichita, KS",1208,1201.0,-7.0,23.0,1224.0,1708.0,3.0,1741,1711.0,-30.0,0.0,NaN,0.0,N,213.0,190.0,164.0,1.0,1430.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [512]:
test = test.drop(['dep_delay', 'arr_delay', 'nas_delay', 'security_delay', 'late_aircraft_delay', 'carrier_delay', 'weather_delay', 'no_name'], axis = 1)
test.head()

,fl_date,mkt_unique_carrier,branded_code_share,mkt_carrier,mkt_carrier_fl_num,op_unique_carrier,tail_num,op_carrier_fl_num,origin_airport_id,origin,origin_city_name,dest_airport_id,dest,dest_city_name,crs_dep_time,dep_time,taxi_out,wheels_off,wheels_on,taxi_in,crs_arr_time,arr_time,cancelled,cancellation_code,diverted,dup,crs_elapsed_time,actual_elapsed_time,air_time,flights,distance,first_dep_time,total_add_gtime,longest_add_gtime
0,2018-01-07,AS,AS_CODESHARE,AS,2690,QX,N627QX,2690,14831,SJC,"San Jose, CA",14057,PDX,"Portland, OR",620,615.0,20.0,635.0,801.0,2.0,815,803.0,0.0,NaN,0.0,N,115.0,108.0,86.0,1.0,569.0,NaN,NaN,NaN
1,2018-01-07,AS,AS_CODESHARE,AS,2695,QX,N446QX,2695,11884,GEG,"Spokane, WA",14057,PDX,"Portland, OR",839,837.0,18.0,855.0,956.0,4.0,1003,1000.0,0.0,NaN,0.0,N,84.0,83.0,61.0,1.0,279.0,NaN,NaN,NaN
2,2018-01-07,AS,AS_CODESHARE,AS,2704,QX,N626QX,2704,14747,SEA,"Seattle, WA",12094,HDN,"Hayden, CO",1528,1537.0,17.0,1554.0,1843.0,4.0,1845,1847.0,0.0,NaN,0.0,N,137.0,130.0,109.0,1.0,891.0,NaN,NaN,NaN
3,2018-01-07,AS,AS_CODESHARE,AS,2705,QX,N626QX,2705,12094,HDN,"Hayden, CO",14747,SEA,"Seattle, WA",1930,1917.0,14.0,1931.0,2047.0,7.0,2126,2054.0,0.0,NaN,0.0,N,176.0,157.0,136.0,1.0,891.0,NaN,NaN,NaN
4,2018-01-07,AS,AS_CODESHARE,AS,2708,QX,N630QX,2708,14747,SEA,"Seattle, WA",12278,ICT,"Wichita, KS",1208,1201.0,23.0,1224.0,1708.0,3.0,1741,1711.0,0.0,NaN,0.0,N,213.0,190.0,164.0,1.0,1430.0,NaN,NaN,NaN

In [513]:
test['fl_date'] =  pd.to_datetime(test['fl_date'], format='%Y-%m-%d')
test['fl_date'] = test['fl_date'].dt.day_of_week

In [514]:
test.head()

,fl_date,mkt_unique_carrier,branded_code_share,mkt_carrier,mkt_carrier_fl_num,op_unique_carrier,tail_num,op_carrier_fl_num,origin_airport_id,origin,origin_city_name,dest_airport_id,dest,dest_city_name,crs_dep_time,dep_time,taxi_out,wheels_off,wheels_on,taxi_in,crs_arr_time,arr_time,cancelled,cancellation_code,diverted,dup,crs_elapsed_time,actual_elapsed_time,air_time,flights,distance,first_dep_time,total_add_gtime,longest_add_gtime
0,6,AS,AS_CODESHARE,AS,2690,QX,N627QX,2690,14831,SJC,"San Jose, CA",14057,PDX,"Portland, OR",620,615.0,20.0,635.0,801.0,2.0,815,803.0,0.0,NaN,0.0,N,115.0,108.0,86.0,1.0,569.0,NaN,NaN,NaN
1,6,AS,AS_CODESHARE,AS,2695,QX,N446QX,2695,11884,GEG,"Spokane, WA",14057,PDX,"Portland, OR",839,837.0,18.0,855.0,956.0,4.0,1003,1000.0,0.0,NaN,0.0,N,84.0,83.0,61.0,1.0,279.0,NaN,NaN,NaN
2,6,AS,AS_CODESHARE,AS,2704,QX,N626QX,2704,14747,SEA,"Seattle, WA",12094,HDN,"Hayden, CO",1528,1537.0,17.0,1554.0,1843.0,4.0,1845,1847.0,0.0,NaN,0.0,N,137.0,130.0,109.0,1.0,891.0,NaN,NaN,NaN
3,6,AS,AS_CODESHARE,AS,2705,QX,N626QX,2705,12094,HDN,"Hayden, CO",14747,SEA,"Seattle, WA",1930,1917.0,14.0,1931.0,2047.0,7.0,2126,2054.0,0.0,NaN,0.0,N,176.0,157.0,136.0,1.0,891.0,NaN,NaN,NaN
4,6,AS,AS_CODESHARE,AS,2708,QX,N630QX,2708,14747,SEA,"Seattle, WA",12278,ICT,"Wichita, KS",1208,1201.0,23.0,1224.0,1708.0,3.0,1741,1711.0,0.0,NaN,0.0,N,213.0,190.0,164.0,1.0,1430.0,NaN,NaN,NaN

In [515]:
test.dtypes

fl_date                  int64
mkt_unique_carrier      object
branded_code_share      object
mkt_carrier             object
mkt_carrier_fl_num       int64
op_unique_carrier       object
tail_num                object
op_carrier_fl_num        int64
origin_airport_id        int64
origin                  object
origin_city_name        object
dest_airport_id          int64
dest                    object
dest_city_name          object
crs_dep_time             int64
dep_time               float64
taxi_out               float64
wheels_off             float64
wheels_on              float64
taxi_in                float64
crs_arr_time             int64
arr_time               float64
cancelled              float64
cancellation_code      float64
diverted               float64
dup                     object
crs_elapsed_time       float64
actual_elapsed_time    float64
air_time               float64
flights                float64
distance               float64
first_dep_time         float64
total_add_gtime        float64
longest_add_gtime      float64
dtype: object

In [516]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 34 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   fl_date              10000 non-null  int64
 1   mkt_unique_carrier   10000 non-null  object
 2   branded_code_share   10000 non-null  object
 3   mkt_carrier          10000 non-null  object
 4   mkt_carrier_fl_num   10000 non-null  int64
 5   op_unique_carrier    10000 non-null  object
 6   tail_num             10000 non-null  object
 7   op_carrier_fl_num    10000 non-null  int64
 8   origin_airport_id    10000 non-null  int64
 9   origin               10000 non-null  object
 10  origin_city_name     10000 non-null  object
 11  dest_airport_id      10000 non-null  int64
 12  dest                 10000 non-null  object
 13  dest_city_name       10000 non-null  object
 14  crs_dep_time         10000 non-null  int64
 15  dep_time             10000 non-null  float64
 16  taxi_out             10000 non-null  float64
 17  wheels_off           10000 non-null  float64
 18  wheels_on            10000 non-null  float64
 19  taxi_in              10000 non-null  float64
 20  crs_arr_time         10000 non-null  int64
 21  arr_time             10000 non-null  float64
 22  cancelled            10000 non-null  float64
 23  cancellation_code    0 non-null      float64
 24  diverted             10000 non-null  float64
 25  dup                  10000 non-null  object
 26  crs_elapsed_time     10000 non-null  float64
 27  actual_elapsed_time  9971 non-null   float64
 28  air_time             9971 non-null   float64
 29  flights              10000 non-null  float64
 30  distance             10000 non-null  float64
 31  first_dep_time       62 non-null     float64
 32  total_add_gtime      62 non-null     float64
 33  longest_add_gtime    62 non-null     float64
dtypes: float64(17), int64(7), object(10)
memory usage: 2.6+ MB

In [445]:
test['mkt_unique_carrier'].unique()

array(['AS', 'DL', 'UA', 'AA', 'NK', 'B6', 'G4', 'WN'], dtype=object)

In [446]:
# remove - redundant as above info
test['branded_code_share'].unique()

array(['AS_CODESHARE', 'DL_CODESHARE', 'UA_CODESHARE', 'AA_CODESHARE',
       'NK', 'AA', 'DL', 'B6', 'G4', 'WN', 'UA'], dtype=object)

In [447]:
# remove - redundant as above info
# Code assigned by IATA and commonly used to identify a carrier. 
# As the same code may have been assigned to different carriers over time, the code is not always unique. 
# For analysis, use the Unique Carrier Code.
test['mkt_carrier'].unique()

array(['AS', 'DL', 'UA', 'AA', 'NK', 'B6', 'G4', 'WN'], dtype=object)

In [448]:
test['op_unique_carrier'].unique()

array(['QX', '9E', 'EV', 'MQ', 'NK', 'OH', 'OO', 'YV', 'YX', 'AA', 'DL',
       'CP', 'B6', 'G4', 'WN', 'UA'], dtype=object)

In [449]:
# change to hot enocoded (binary)
test['cancellation_code'].unique()

array([nan])

In [450]:
# hot encode to binary if it is determine to be useful 
test['dup'].unique()

array(['N'], dtype=object)

In [451]:
# drop as all inputs are single flights, possibly remove all rows where flights is more than one as it would greatly skew data. delayed and rescheduled are different metrics
test['flights'].unique()

array([1.])

In [452]:
test['tail_num'].unique()

array(['N627QX', 'N446QX', 'N626QX', ..., 'N750SA', 'N8616C', 'N916WN'],
      dtype=object)

In [453]:
test = test.drop(['mkt_carrier', 'branded_code_share', 'origin_city_name', 'origin', 'dest', 'dest_city_name'], axis = 1)
test.head()

,fl_date,mkt_unique_carrier,mkt_carrier_fl_num,op_unique_carrier,tail_num,op_carrier_fl_num,origin_airport_id,dest_airport_id,crs_dep_time,dep_time,taxi_out,wheels_off,wheels_on,taxi_in,crs_arr_time,arr_time,cancelled,cancellation_code,diverted,dup,crs_elapsed_time,actual_elapsed_time,air_time,flights,distance,first_dep_time,total_add_gtime,longest_add_gtime
0,6,AS,2690,QX,N627QX,2690,14831,14057,620,615.0,20.0,635.0,801.0,2.0,815,803.0,0.0,NaN,0.0,N,115.0,108.0,86.0,1.0,569.0,NaN,NaN,NaN
1,6,AS,2695,QX,N446QX,2695,11884,14057,839,837.0,18.0,855.0,956.0,4.0,1003,1000.0,0.0,NaN,0.0,N,84.0,83.0,61.0,1.0,279.0,NaN,NaN,NaN
2,6,AS,2704,QX,N626QX,2704,14747,12094,1528,1537.0,17.0,1554.0,1843.0,4.0,1845,1847.0,0.0,NaN,0.0,N,137.0,130.0,109.0,1.0,891.0,NaN,NaN,NaN
3,6,AS,2705,QX,N626QX,2705,12094,14747,1930,1917.0,14.0,1931.0,2047.0,7.0,2126,2054.0,0.0,NaN,0.0,N,176.0,157.0,136.0,1.0,891.0,NaN,NaN,NaN
4,6,AS,2708,QX,N630QX,2708,14747,12278,1208,1201.0,23.0,1224.0,1708.0,3.0,1741,1711.0,0.0,NaN,0.0,N,213.0,190.0,164.0,1.0,1430.0,NaN,NaN,NaN

features to add to target columns
- crs_dep_time, dep_time, arr_time, crs_arr_time, actual_elapsed_time, crs_elapsed_time, wheels_off, wheels_on, taxi_in, taxi_out

In [454]:
test['crs_dep_time'] = test['crs_dep_time'].astype('float64')
test['crs_arr_time'] = test['crs_arr_time'].astype('float64')

In [455]:
test['total_delay'] = (test['dep_time'] - test['crs_dep_time']) + (test['arr_time'] - test['crs_arr_time']) + (test['actual_elapsed_time'] - test['crs_elapsed_time'])

In [456]:
test['total_delay'].sum()

46376.0

In [457]:
test = test.drop(['dep_time', 'crs_dep_time', 'arr_time', 'crs_arr_time', 'actual_elapsed_time', 'crs_elapsed_time'], axis = 1)
test.head()

,fl_date,mkt_unique_carrier,mkt_carrier_fl_num,op_unique_carrier,tail_num,op_carrier_fl_num,origin_airport_id,dest_airport_id,taxi_out,wheels_off,wheels_on,taxi_in,cancelled,cancellation_code,diverted,dup,air_time,flights,distance,first_dep_time,total_add_gtime,longest_add_gtime,total_delay
0,6,AS,2690,QX,N627QX,2690,14831,14057,20.0,635.0,801.0,2.0,0.0,NaN,0.0,N,86.0,1.0,569.0,NaN,NaN,NaN,-24.0
1,6,AS,2695,QX,N446QX,2695,11884,14057,18.0,855.0,956.0,4.0,0.0,NaN,0.0,N,61.0,1.0,279.0,NaN,NaN,NaN,-6.0
2,6,AS,2704,QX,N626QX,2704,14747,12094,17.0,1554.0,1843.0,4.0,0.0,NaN,0.0,N,109.0,1.0,891.0,NaN,NaN,NaN,4.0
3,6,AS,2705,QX,N626QX,2705,12094,14747,14.0,1931.0,2047.0,7.0,0.0,NaN,0.0,N,136.0,1.0,891.0,NaN,NaN,NaN,-104.0
4,6,AS,2708,QX,N630QX,2708,14747,12278,23.0,1224.0,1708.0,3.0,0.0,NaN,0.0,N,164.0,1.0,1430.0,NaN,NaN,NaN,-60.0

In [517]:
def unique_values(df):
    for i in range(len(df.columns)):
        unique =  df.iloc[:, i].unique()
        print(i, unique)
    return

In [518]:
unique_values(test)

0 [6 0]
1 ['AS' 'DL' 'UA' 'AA' 'NK' 'B6' 'G4' 'WN']
2 ['AS_CODESHARE' 'DL_CODESHARE' 'UA_CODESHARE' 'AA_CODESHARE' 'NK' 'AA'
 'DL' 'B6' 'G4' 'WN' 'UA']
3 ['AS' 'DL' 'UA' 'AA' 'NK' 'B6' 'G4' 'WN']
4 [2690 2695 2704 ... 5601 1799 6364]
5 ['QX' '9E' 'EV' 'MQ' 'NK' 'OH' 'OO' 'YV' 'YX' 'AA' 'DL' 'CP' 'B6' 'G4'
 'WN' 'UA']
6 ['N627QX' 'N446QX' 'N626QX' ... 'N750SA' 'N8616C' 'N916WN']
7 [2690 2695 2704 ... 5601 1799 6364]
8 [14831 11884 14747 12094 10140 14679 14057 10800 13487 15376 14771 13198
 14908 12278 10299 11630 13851 14893 11638 10397 11982 11953 12339 15607
 14100 15412 14492 10785 12451 10980 11298 12266 14635 15096 11278 12953
 13495 10693 11193 15919 11042 13931 11146 14524 14814 12264 14122 11618
 11697 11433 14783 12945 10792 11423 12197 10821 13930 14730 10408 15323
 14685 10529 10721 10685 13296 13433 10874 11066 11057 14576 13342 11267
 14193 14307 15016 11612 13422 11003 12896 10599 10185 10868 12217 13158
 13871 14321 12177 10747 14108 10257 11140 12992 14696 10279 10781 12448
 13244 13061 12951 10581 13485 13377 15624 12915 13303 15249 13367 15370
 10990 15048 11203 12323 14842 11977 12511 12884 15295 12478 11986 10620
 11067 10136 11867 15380 13290 15411 10268 14457 11637 14952 14574 13230
 11778 11905 15401 14588 13256 12891 11921 13076 11775 11995 13459 10994
 15074 10849 14960 10155 11274 10713 11049 11111 11996 14683 11980 10728
 13204 11292 12889 12892 15304 10434 14098 11252 10431 13795 11617 13277
 11641 10135 13360 11109 15023 13264 14689 14869 15041 14489 11413 10423
 12441 10372 14252 11603 14262 13029 13476 12397 13127 14113 10141 10333
 11587 14150 10631 11122 10739 10779 10918 14794 11013 11097 15389 12129
 10577 14520 12343 11525 12191 14107 14698 11973 12954 10627 10561 11540
 11823 13891 11481 15027 11503 14843 14027 13796 14570 10208 11259 12173
 14986 13830 12982 13232 13577 11721 11624 13486 12758 11648 16101 11470
 14303 10275 12156 13388 12003 10666 14709 11898 10146 15070 10732 14254
 15024 13933 14674 12206 13502 14761 13983 14112 14512 14082 12223 10676
 12917 14025 14259 12544 12265 10466 14314 13829 14716 11537 12119 12280
 11027 10158 12898 13139 12244 14633 11695 16218 13241 14109 10590 12007
 14711 11577 12335 11337 12389 10469 13184 11308 11076 11471 11865 14543
 14288 14006 15454 10967 13344 11447 12519 12888 12255 10157 14487 12391]
9 ['SJC' 'GEG' 'SEA' 'HDN' 'ABQ' 'SAN' 'PDX' 'BUR' 'MSP' 'TUS' 'SFO' 'MCI'
 'SNA' 'ICT' 'ANC' 'FAI' 'OKC' 'SMF' 'FAT' 'ATL' 'GRK' 'GNV' 'IND' 'VLD'
 'PHL' 'TYS' 'RDU' 'BTV' 'JAX' 'CHA' 'DFW' 'IAH' 'RSW' 'SYR' 'DCA' 'LGA'
 'MSY' 'BNA' 'CVG' 'XNA' 'CLE' 'ORF' 'CRW' 'RIC' 'SHV' 'IAD' 'PIT' 'EWR'
 'FLL' 'DTW' 'SGF' 'LEX' 'BUF' 'DSM' 'HPN' 'BWI' 'ORD' 'SDF' 'ATW' 'TRI'
 'SAV' 'BDL' 'BOS' 'BMI' 'MHT' 'MOT' 'CAK' 'CMH' 'CLT' 'ROC' 'MKE' 'DAY'
 'PNS' 'PVD' 'STL' 'EVV' 'MOB' 'CID' 'LBB' 'BHM' 'AEX' 'CAE' 'HSV' 'MAF'
 'OMA' 'PWM' 'HOB' 'BRO' 'PIA' 'ALB' 'CRP' 'LIT' 'SBN' 'AMA' 'BTR' 'JAN'
 'MEM' 'LRD' 'LFT' 'BGR' 'MSN' 'MLU' 'VPS' 'LCH' 'MIA' 'TLH' 'MLI' 'TUL'
 'CHO' 'SUX' 'CWA' 'ILM' 'SJT' 'GRB' 'JLN' 'LAN' 'TOL' 'JFK' 'GRR' 'BIL'
 'CMI' 'ABI' 'GCK' 'TVC' 'MHK' 'TYR' 'ALO' 'RAP' 'FAR' 'SPI' 'ROA' 'MDT'
 'FSM' 'GGG' 'TXK' 'ROW' 'MFE' 'LAW' 'GJT' 'LSE' 'FSD' 'GSO' 'MQT' 'CHS'
 'SWO' 'BZN' 'SPS' 'ACT' 'DBQ' 'BOI' 'CLL' 'COU' 'GSP' 'SAT' 'GRI' 'BPT'
 'MCO' 'DEN' 'LAS' 'LAX' 'TPA' 'AVP' 'PHF' 'DAB' 'AVL' 'OAJ' 'EWN' 'MGM'
 'FAY' 'ABE' 'MLB' 'COS' 'STS' 'MFR' 'SBA' 'SLC' 'SUN' 'RDM' 'DRO' 'AUS'
 'JAC' 'ASE' 'PSC' 'EUG' 'PSP' 'LNK' 'MRY' 'ITH' 'LWS' 'PIH' 'ABR' 'APN'
 'ESC' 'PLN' 'BJI' 'CPR' 'BRD' 'BTM' 'CDC' 'SGU' 'CIU' 'COD' 'TWF' 'HIB'
 'BGM' 'RHI' 'INL' 'EKO' 'HOU' 'PHX' 'SBP' 'GPT' 'LGB' 'BIS' 'BFL' 'ELP'
 'FWA' 'ONT' 'ECP' 'STX' 'EGE' 'SJU' 'PBI' 'OAK' 'RNO' 'AGS' 'DAL' 'HNL'
 'SRQ' 'OGG' 'LIH' 'MDW' 'MYR' 'FNT' 'EYW' 'MSO' 'KOA' 'FCA' 'YKM' 'EAT'
 'PUW' 'ALW' 'HLN' 'MMH' 'GTF' 'BLI' 'SCC' 'GFK' 'ABY' 'SWF' 'BQN' 'PSE'
 'STT' 'ORH' 'SAF' 'HRL' 'MTJ' 'SFB' 'OWB' 'PIE' 'RFD' 'PGD' 'HTS' 'BLV'
 'LCK' 'PBG' 'PSM' 'USA' 'IAG' 'AZA' 'PVU' 'OGD' 'SCK' 'ELM' 'HGR' 'IDA'
 'CKB' 'ACY' 'LBE' 'LYH' 'HVN' 'RST' 'FLG' 'YUM' 'MEI' 'PIB' 'IFP' 'GTR'
 'SCE' 'ERI' 'IMT' 'DLH' 'ISN' 'AZO' 'MBS' 'DHN' 'CMX' 'EAU' 'GCC' 'RKS'
 'PUB' 'PAH' 'UIN' 'CGI' 'MKG' 'DVL' 'JMS' 'LAR' 'HYS' 'ACV' 'RDD' 'ISP']
10 ['San Jose, CA' 'Spokane, WA' 'Seattle, WA' 'Hayden, CO' 'Albuquerque, NM'
 'San Diego, CA' 'Portland, OR' 'Burbank, CA' 'Minneapolis, MN'
 'Tucson, AZ' 'San Francisco, CA' 'Kansas City, MO' 'Santa Ana, CA'
 'Wichita, KS' 'Anchorage, AK' 'Fairbanks, AK' 'Oklahoma City, OK'
 'Sacramento, CA' 'Fresno, CA' 'Atlanta, GA' 'Killeen, TX'
 'Gainesville, FL' 'Indianapolis, IN' 'Valdosta, GA' 'Philadelphia, PA'
 'Knoxville, TN' 'Raleigh/Durham, NC' 'Burlington, VT' 'Jacksonville, FL'
 'Chattanooga, TN' 'Dallas/Fort Worth, TX' 'Houston, TX' 'Fort Myers, FL'
 'Syracuse, NY' 'Washington, DC' 'New York, NY' 'New Orleans, LA'
 'Nashville, TN' 'Cincinnati, OH' 'Fayetteville, AR' 'Cleveland, OH'
 'Norfolk, VA' 'Charleston/Dunbar, WV' 'Richmond, VA' 'Shreveport, LA'
 'Pittsburgh, PA' 'Newark, NJ' 'Fort Lauderdale, FL' 'Detroit, MI'
 'Springfield, MO' 'Lexington, KY' 'Buffalo, NY' 'Des Moines, IA'
 'White Plains, NY' 'Baltimore, MD' 'Chicago, IL' 'Louisville, KY'
 'Appleton, WI' 'Bristol/Johnson City/Kingsport, TN' 'Savannah, GA'
 'Hartford, CT' 'Boston, MA' 'Bloomington/Normal, IL' 'Manchester, NH'
 'Minot, ND' 'Akron, OH' 'Columbus, OH' 'Charlotte, NC' 'Rochester, NY'
 'Milwaukee, WI' 'Dayton, OH' 'Pensacola, FL' 'Providence, RI'
 'St. Louis, MO' 'Evansville, IN' 'Mobile, AL'
 'Cedar Rapids/Iowa City, IA' 'Lubbock, TX' 'Birmingham, AL'
 'Alexandria, LA' 'Columbia, SC' 'Huntsville, AL' 'Midland/Odessa, TX'
 'Omaha, NE' 'Portland, ME' 'Hobbs, NM' 'Brownsville, TX' 'Peoria, IL'
 'Albany, NY' 'Corpus Christi, TX' 'Little Rock, AR' 'South Bend, IN'
 'Amarillo, TX' 'Baton Rouge, LA' 'Jackson/Vicksburg, MS' 'Memphis, TN'
 'Laredo, TX' 'Lafayette, LA' 'Bangor, ME' 'Madison, WI' 'Monroe, LA'
 'Valparaiso, FL' 'Lake Charles, LA' 'Miami, FL' 'Tallahassee, FL'
 'Moline, IL' 'Tulsa, OK' 'Charlottesville, VA' 'Sioux City, IA'
 'Mosinee, WI' 'Wilmington, NC' 'San Angelo, TX' 'Green Bay, WI'
 'Joplin, MO' 'Lansing, MI' 'Toledo, OH' 'Grand Rapids, MI' 'Billings, MT'
 'Champaign/Urbana, IL' 'Abilene, TX' 'Garden City, KS'
 'Traverse City, MI' 'Manhattan/Ft. Riley, KS' 'Tyler, TX' 'Waterloo, IA'
 'Rapid City, SD' 'Fargo, ND' 'Springfield, IL' 'Roanoke, VA'
 'Harrisburg, PA' 'Fort Smith, AR' 'Longview, TX' 'Texarkana, AR'
 'Roswell, NM' 'Mission/McAllen/Edinburg, TX' 'Lawton/Fort Sill, OK'
 'Grand Junction, CO' 'La Crosse, WI' 'Sioux Falls, SD'
 'Greensboro/High Point, NC' 'Marquette, MI' 'Charleston, SC'
 'Stillwater, OK' 'Bozeman, MT' 'Wichita Falls, TX' 'Waco, TX'
 'Dubuque, IA' 'Boise, ID' 'College Station/Bryan, TX' 'Columbia, MO'
 'Greer, SC' 'San Antonio, TX' 'Grand Island, NE'
 'Beaumont/Port Arthur, TX' 'Orlando, FL' 'Denver, CO' 'Las Vegas, NV'
 'Los Angeles, CA' 'Tampa, FL' 'Scranton/Wilkes-Barre, PA'
 'Newport News/Williamsburg, VA' 'Daytona Beach, FL' 'Asheville, NC'
 'Jacksonville/Camp Lejeune, NC' 'New Bern/Morehead/Beaufort, NC'
 'Montgomery, AL' 'Fayetteville, NC' 'Allentown/Bethlehem/Easton, PA'
 'Melbourne, FL' 'Colorado Springs, CO' 'Santa Rosa, CA' 'Medford, OR'
 'Santa Barbara, CA' 'Salt Lake City, UT' 'Sun Valley/Hailey/Ketchum, ID'
 'Bend/Redmond, OR' 'Durango, CO' 'Austin, TX' 'Jackson, WY' 'Aspen, CO'
 'Pasco/Kennewick/Richland, WA' 'Eugene, OR' 'Palm Springs, CA'
 'Lincoln, NE' 'Monterey, CA' 'Ithaca/Cortland, NY' 'Lewiston, ID'
 'Pocatello, ID' 'Aberdeen, SD' 'Alpena, MI' 'Escanaba, MI' 'Pellston, MI'
 'Bemidji, MN' 'Casper, WY' 'Brainerd, MN' 'Butte, MT' 'Cedar City, UT'
 'St. George, UT' 'Sault Ste. Marie, MI' 'Cody, WY' 'Twin Falls, ID'
 'Hibbing, MN' 'Binghamton, NY' 'Rhinelander, WI'
 'International Falls, MN' 'Elko, NV' 'Phoenix, AZ' 'San Luis Obispo, CA'
 'Gulfport/Biloxi, MS' 'Long Beach, CA' 'Bismarck/Mandan, ND'
 'Bakersfield, CA' 'El Paso, TX' 'Fort Wayne, IN' 'Ontario, CA'
 'Panama City, FL' 'Christiansted, VI' 'Eagle, CO' 'San Juan, PR'
 'West Palm Beach/Palm Beach, FL' 'Oakland, CA' 'Reno, NV' 'Augusta, GA'
 'Dallas, TX' 'Honolulu, HI' 'Sarasota/Bradenton, FL' 'Kahului, HI'
 'Lihue, HI' 'Myrtle Beach, SC' 'Flint, MI' 'Key West, FL' 'Missoula, MT'
 'Kona, HI' 'Kalispell, MT' 'Yakima, WA' 'Wenatchee, WA' 'Pullman, WA'
 'Walla Walla, WA' 'Helena, MT' 'Mammoth Lakes, CA' 'Great Falls, MT'
 'Bellingham, WA' 'Deadhorse, AK' 'Grand Forks, ND' 'Albany, GA'
 'Newburgh/Poughkeepsie, NY' 'Aguadilla, PR' 'Ponce, PR'
 'Charlotte Amalie, VI' 'Worcester, MA' 'Santa Fe, NM'
 'Harlingen/San Benito, TX' 'Montrose/Delta, CO' 'Sanford, FL'
 'Owensboro, KY' 'St. Petersburg, FL' 'Rockford, IL' 'Punta Gorda, FL'
 'Ashland, WV' 'Belleville, IL' 'Plattsburgh, NY' 'Portsmouth, NH'
 'Concord, NC' 'Niagara Falls, NY' 'Provo, UT' 'Ogden, UT' 'Stockton, CA'
 'Elmira/Corning, NY' 'Hagerstown, MD' 'Idaho Falls, ID'
 'Clarksburg/Fairmont, WV' 'Atlantic City, NJ' 'Latrobe, PA'
 'Lynchburg, VA' 'New Haven, CT' 'Rochester, MN' 'Flagstaff, AZ'
 'Yuma, AZ' 'Meridian, MS' 'Hattiesburg/Laurel, MS' 'Bullhead City, AZ'
 'Columbus, MS' 'State College, PA' 'Erie, PA' 'Iron Mountain/Kingsfd, MI'
 'Duluth, MN' 'Williston, ND' 'Kalamazoo, MI'
 'Saginaw/Bay City/Midland, MI' 'Dothan, AL' 'Hancock/Houghton, MI'
 'Eau Claire, WI' 'Gillette, WY' 'Rock Springs, WY' 'Pueblo, CO'
 'Paducah, KY' 'Quincy, IL' 'Cape Girardeau, MO' 'Muskegon, MI'
 'Devils Lake, ND' 'Jamestown, ND' 'Laramie, WY' 'Hays, KS'
 'Arcata/Eureka, CA' 'Redding, CA' 'Islip, NY']
11 [14057 12094 14747 12278 14679 10140 13487 15376 10800 14831 14771 13198
 14908 11630 10299 13851 11884 11638 14893 11982 10397 12953 15607 14492
 10731 12478 10980 11193 11423 11433 15919 14685 12266 11146 12451 13931
 11278 14635 14814 14122 15412 11618 11697 13485 14783 11066 12945 12197
 11298 12339 11057 10792 10821 10408 13342 15096 10785 15323 11042 10685
 10693 13433 14683 10874 10994 14108 14730 13296 11203 14524 10279 14576
 12217 13930 12951 12915 15370 12992 10257 11481 13377 13061 14321 15016
 11986 13422 11140 14193 13158 11540 15380 11973 14307 13871 13256 11267
 11996 12448 10599 11612 10529 10185 15249 13303 13367 12884 11003 15048
 11995 14842 11049 11274 11977 12511 15295 12896 10155 10136 13230 10620
 11067 11867 13290 15401 10868 15411 13076 10268 14457 11637 14952 14574
 11905 11778 11775 14588 12891 11921 15074 12323 13244 14960 10849 10713
 13495 11980 10728 12889 12892 11292 13204 15304 10431 14100 10434 13795
 14098 11252 13577 10990 11953 11617 11823 12244 13277 11641 11603 14869
 10372 12389 11109 10747 10561 12441 11413 13476 13502 14252 14689 10423
 14262 14487 12397 13127 14113 10141 11097 10333 11587 14150 10631 11122
 10739 10779 10918 14794 11013 13459 11525 12129 10577 15389 10135 14520
 12343 12335 14107 12191 14698 15624 10627 12954 15023 13891 12264 10781
 10721 14570 11503 11721 14027 15027 14843 11259 13830 14986 12173 12758
 13796 13232 12982 10208 11624 13360 11648 16101 14489 11470 13264 14303
 10275 13388 15041 12156 12003 13486 10666 14709 11898 10581 10146 11150
 15070 10732 14254 15024 13933 11111 14674 12206 14761 13983 14112 14512
 14082 12223 10676 12917 14025 14259 12544 12265 14696 10466 14314 13829
 14716 11537 12119 12280 11027 10158 12898 13139 14633 11695 16218 10469
 13241 14109 10590 12007 11308 14711 11577 11337 13184 13029 14288 11076
 11471 14006 14543 15454 10967 12519 11447 12888 11865 12255 13344 10157
 12391]
12 ['PDX' 'HDN' 'SEA' 'ICT' 'SAN' 'ABQ' 'MSP' 'TUS' 'BUR' 'SJC' 'SFO' 'MCI'
 'SNA' 'FAI' 'ANC' 'OKC' 'GEG' 'FAT' 'SMF' 'GRK' 'ATL' 'LGA' 'VLD' 'RDU'
 'BQK' 'JFK' 'CHA' 'CVG' 'DSM' 'DTW' 'XNA' 'SAV' 'IAH' 'CRW' 'JAX' 'ORF'
 'DCA' 'RSW' 'SHV' 'PIT' 'TYS' 'EWR' 'FLL' 'MSN' 'SGF' 'CMH' 'LEX' 'HPN'
 'DFW' 'IND' 'CLT' 'BUF' 'BWI' 'ATW' 'MKE' 'SYR' 'BTV' 'TRI' 'CLE' 'BMI'
 'BNA' 'MOT' 'SAT' 'CAK' 'CHS' 'PIA' 'SDF' 'MHT' 'CWA' 'RIC' 'AMA' 'ROC'
 'HSV' 'ORD' 'LFT' 'LCH' 'TUL' 'LIT' 'ALB' 'ECP' 'MLU' 'LRD' 'PWM' 'STL'
 'GRR' 'MOB' 'CRP' 'PNS' 'MAF' 'ELP' 'TVC' 'GPT' 'PVD' 'OMA' 'MFE' 'DAY'
 'GSP' 'JAN' 'BHM' 'EVV' 'BDL' 'AEX' 'TLH' 'MIA' 'MLI' 'LAN' 'CID' 'SUX'
 'GSO' 'SJT' 'CLL' 'DBQ' 'GRB' 'JLN' 'TOL' 'LBB' 'ACT' 'ABI' 'MDT' 'BIL'
 'CMI' 'GCK' 'MHK' 'TXK' 'CAE' 'TYR' 'LSE' 'ALO' 'RAP' 'FAR' 'SPI' 'ROA'
 'GGG' 'FSM' 'FSD' 'ROW' 'LAW' 'GJT' 'SWO' 'ILM' 'MEM' 'SPS' 'BZN' 'BOI'
 'MSY' 'GRI' 'BPT' 'LAS' 'LAX' 'DEN' 'MCO' 'TPA' 'AVL' 'PHL' 'AVP' 'OAJ'
 'PHF' 'DAB' 'MYR' 'CHO' 'GNV' 'EWN' 'FWA' 'HVN' 'MGM' 'FAY' 'EUG' 'SLC'
 'ASE' 'ISN' 'COS' 'BRO' 'BFL' 'JAC' 'DRO' 'MRY' 'MTJ' 'PSC' 'SBA' 'AUS'
 'PSP' 'RDD' 'ITH' 'LWS' 'PIH' 'ABR' 'COD' 'APN' 'ESC' 'PLN' 'BJI' 'CPR'
 'BRD' 'BTM' 'CDC' 'SGU' 'CIU' 'MQT' 'EKO' 'HIB' 'BGM' 'TWF' 'ABE' 'RHI'
 'INL' 'IMT' 'PHX' 'HOU' 'SBP' 'VPS' 'BIS' 'LGB' 'STS' 'ONT' 'IAD' 'BTR'
 'BOS' 'RNO' 'EGE' 'FNT' 'PBI' 'STX' 'SJU' 'DAL' 'OGG' 'SRQ' 'HNL' 'KOA'
 'OAK' 'MDW' 'LIH' 'AGS' 'EYW' 'MLB' 'FCA' 'YKM' 'RDM' 'EAT' 'MFR' 'PUW'
 'ALW' 'MMH' 'SUN' 'HLN' 'GTF' 'MSO' 'BLI' 'SCC' 'GFK' 'BGR' 'ABY' 'CSG'
 'SWF' 'BQN' 'PSE' 'STT' 'ORH' 'COU' 'SAF' 'HRL' 'SFB' 'OWB' 'PIE' 'RFD'
 'PGD' 'HTS' 'BLV' 'LCK' 'PBG' 'PSM' 'USA' 'IAG' 'SBN' 'AZA' 'PVU' 'OGD'
 'SCK' 'ELM' 'HGR' 'IDA' 'CKB' 'ACY' 'LBE' 'LYH' 'RST' 'FLG' 'YUM' 'AZO'
 'MEI' 'PIB' 'IFP' 'GTR' 'DHN' 'SCE' 'ERI' 'DLH' 'MBS' 'LNK' 'PUB' 'CMX'
 'EAU' 'PAH' 'RKS' 'UIN' 'CGI' 'JMS' 'DVL' 'LAR' 'GCC' 'HYS' 'MKG' 'ACV'
 'ISP']
13 ['Portland, OR' 'Hayden, CO' 'Seattle, WA' 'Wichita, KS' 'San Diego, CA'
 'Albuquerque, NM' 'Minneapolis, MN' 'Tucson, AZ' 'Burbank, CA'
 'San Jose, CA' 'San Francisco, CA' 'Kansas City, MO' 'Santa Ana, CA'
 'Fairbanks, AK' 'Anchorage, AK' 'Oklahoma City, OK' 'Spokane, WA'
 'Fresno, CA' 'Sacramento, CA' 'Killeen, TX' 'Atlanta, GA' 'New York, NY'
 'Valdosta, GA' 'Raleigh/Durham, NC' 'Brunswick, GA' 'Chattanooga, TN'
 'Cincinnati, OH' 'Des Moines, IA' 'Detroit, MI' 'Fayetteville, AR'
 'Savannah, GA' 'Houston, TX' 'Charleston/Dunbar, WV' 'Jacksonville, FL'
 'Norfolk, VA' 'Washington, DC' 'Fort Myers, FL' 'Shreveport, LA'
 'Pittsburgh, PA' 'Knoxville, TN' 'Newark, NJ' 'Fort Lauderdale, FL'
 'Madison, WI' 'Springfield, MO' 'Columbus, OH' 'Lexington, KY'
 'White Plains, NY' 'Dallas/Fort Worth, TX' 'Indianapolis, IN'
 'Charlotte, NC' 'Buffalo, NY' 'Baltimore, MD' 'Appleton, WI'
 'Milwaukee, WI' 'Syracuse, NY' 'Burlington, VT'
 'Bristol/Johnson City/Kingsport, TN' 'Cleveland, OH'
 'Bloomington/Normal, IL' 'Nashville, TN' 'Minot, ND' 'San Antonio, TX'
 'Akron, OH' 'Charleston, SC' 'Peoria, IL' 'Louisville, KY'
 'Manchester, NH' 'Mosinee, WI' 'Richmond, VA' 'Amarillo, TX'
 'Rochester, NY' 'Huntsville, AL' 'Chicago, IL' 'Lafayette, LA'
 'Lake Charles, LA' 'Tulsa, OK' 'Little Rock, AR' 'Albany, NY'
 'Panama City, FL' 'Monroe, LA' 'Laredo, TX' 'Portland, ME'
 'St. Louis, MO' 'Grand Rapids, MI' 'Mobile, AL' 'Corpus Christi, TX'
 'Pensacola, FL' 'Midland/Odessa, TX' 'El Paso, TX' 'Traverse City, MI'
 'Gulfport/Biloxi, MS' 'Providence, RI' 'Omaha, NE'
 'Mission/McAllen/Edinburg, TX' 'Dayton, OH' 'Greer, SC'
 'Jackson/Vicksburg, MS' 'Birmingham, AL' 'Evansville, IN' 'Hartford, CT'
 'Alexandria, LA' 'Tallahassee, FL' 'Miami, FL' 'Moline, IL' 'Lansing, MI'
 'Cedar Rapids/Iowa City, IA' 'Sioux City, IA' 'Greensboro/High Point, NC'
 'San Angelo, TX' 'College Station/Bryan, TX' 'Dubuque, IA'
 'Green Bay, WI' 'Joplin, MO' 'Toledo, OH' 'Lubbock, TX' 'Waco, TX'
 'Abilene, TX' 'Harrisburg, PA' 'Billings, MT' 'Champaign/Urbana, IL'
 'Garden City, KS' 'Manhattan/Ft. Riley, KS' 'Texarkana, AR'
 'Columbia, SC' 'Tyler, TX' 'La Crosse, WI' 'Waterloo, IA'
 'Rapid City, SD' 'Fargo, ND' 'Springfield, IL' 'Roanoke, VA'
 'Longview, TX' 'Fort Smith, AR' 'Sioux Falls, SD' 'Roswell, NM'
 'Lawton/Fort Sill, OK' 'Grand Junction, CO' 'Stillwater, OK'
 'Wilmington, NC' 'Memphis, TN' 'Wichita Falls, TX' 'Bozeman, MT'
 'Boise, ID' 'New Orleans, LA' 'Grand Island, NE'
 'Beaumont/Port Arthur, TX' 'Las Vegas, NV' 'Los Angeles, CA' 'Denver, CO'
 'Orlando, FL' 'Tampa, FL' 'Asheville, NC' 'Philadelphia, PA'
 'Scranton/Wilkes-Barre, PA' 'Jacksonville/Camp Lejeune, NC'
 'Newport News/Williamsburg, VA' 'Daytona Beach, FL' 'Myrtle Beach, SC'
 'Charlottesville, VA' 'Gainesville, FL' 'New Bern/Morehead/Beaufort, NC'
 'Fort Wayne, IN' 'New Haven, CT' 'Montgomery, AL' 'Fayetteville, NC'
 'Eugene, OR' 'Salt Lake City, UT' 'Aspen, CO' 'Williston, ND'
 'Colorado Springs, CO' 'Brownsville, TX' 'Bakersfield, CA' 'Jackson, WY'
 'Durango, CO' 'Monterey, CA' 'Montrose/Delta, CO'
 'Pasco/Kennewick/Richland, WA' 'Santa Barbara, CA' 'Austin, TX'
 'Palm Springs, CA' 'Redding, CA' 'Ithaca/Cortland, NY' 'Lewiston, ID'
 'Pocatello, ID' 'Aberdeen, SD' 'Cody, WY' 'Alpena, MI' 'Escanaba, MI'
 'Pellston, MI' 'Bemidji, MN' 'Casper, WY' 'Brainerd, MN' 'Butte, MT'
 'Cedar City, UT' 'St. George, UT' 'Sault Ste. Marie, MI' 'Marquette, MI'
 'Elko, NV' 'Hibbing, MN' 'Binghamton, NY' 'Twin Falls, ID'
 'Allentown/Bethlehem/Easton, PA' 'Rhinelander, WI'
 'International Falls, MN' 'Iron Mountain/Kingsfd, MI' 'Phoenix, AZ'
 'San Luis Obispo, CA' 'Valparaiso, FL' 'Bismarck/Mandan, ND'
 'Long Beach, CA' 'Santa Rosa, CA' 'Ontario, CA' 'Baton Rouge, LA'
 'Boston, MA' 'Reno, NV' 'Eagle, CO' 'Flint, MI'
 'West Palm Beach/Palm Beach, FL' 'Christiansted, VI' 'San Juan, PR'
 'Dallas, TX' 'Kahului, HI' 'Sarasota/Bradenton, FL' 'Honolulu, HI'
 'Kona, HI' 'Oakland, CA' 'Lihue, HI' 'Augusta, GA' 'Key West, FL'
 'Melbourne, FL' 'Kalispell, MT' 'Yakima, WA' 'Bend/Redmond, OR'
 'Wenatchee, WA' 'Medford, OR' 'Pullman, WA' 'Walla Walla, WA'
 'Mammoth Lakes, CA' 'Sun Valley/Hailey/Ketchum, ID' 'Helena, MT'
 'Great Falls, MT' 'Missoula, MT' 'Bellingham, WA' 'Deadhorse, AK'
 'Grand Forks, ND' 'Bangor, ME' 'Albany, GA' 'Columbus, GA'
 'Newburgh/Poughkeepsie, NY' 'Aguadilla, PR' 'Ponce, PR'
 'Charlotte Amalie, VI' 'Worcester, MA' 'Columbia, MO' 'Santa Fe, NM'
 'Harlingen/San Benito, TX' 'Sanford, FL' 'Owensboro, KY'
 'St. Petersburg, FL' 'Rockford, IL' 'Punta Gorda, FL' 'Ashland, WV'
 'Belleville, IL' 'Plattsburgh, NY' 'Portsmouth, NH' 'Concord, NC'
 'Niagara Falls, NY' 'South Bend, IN' 'Provo, UT' 'Ogden, UT'
 'Stockton, CA' 'Elmira/Corning, NY' 'Hagerstown, MD' 'Idaho Falls, ID'
 'Clarksburg/Fairmont, WV' 'Atlantic City, NJ' 'Latrobe, PA'
 'Lynchburg, VA' 'Rochester, MN' 'Flagstaff, AZ' 'Yuma, AZ'
 'Kalamazoo, MI' 'Meridian, MS' 'Hattiesburg/Laurel, MS'
 'Bullhead City, AZ' 'Columbus, MS' 'Dothan, AL' 'State College, PA'
 'Erie, PA' 'Duluth, MN' 'Saginaw/Bay City/Midland, MI' 'Lincoln, NE'
 'Pueblo, CO' 'Hancock/Houghton, MI' 'Eau Claire, WI' 'Paducah, KY'
 'Rock Springs, WY' 'Quincy, IL' 'Cape Girardeau, MO' 'Jamestown, ND'
 'Devils Lake, ND' 'Laramie, WY' 'Gillette, WY' 'Hays, KS' 'Muskegon, MI'
 'Arcata/Eureka, CA' 'Islip, NY']
14 [ 620  839 1528 ... 1201 2312  639]
15 [ 615.  837. 1537. ... 2322.  513.   38.]
16 [ 20.  18.  17.  14.  23.  13.  12.  10.  11.  15.  22.  46.   8.  21.
   9.   6.   7.   5.  19.  30.  39.  32.  28.  29.  35.  24.  33.  53.
  75.  72.  25.  27.  44.  36.  43.  52.  47.  68.  42.  37.  16. 117.
  31.  34.  26.  62.  41.  71.  45. 135.  55.  89.  50.  70.  74.  66.
  38.  61.  40.  60.  48.  59.  69.   4.  57.  51.  49.   3.  56. 101.
  85.  81.  63.  64.  73.  93. 105.  67. 109. 104.  98.  84.  87.  97.
 113. 125.  76.  65.  77.  92.  82.  80.  54.  86.  79.  96.  83.  78.
 103.  58. 100.  90.]
17 [ 635.  855. 1554. ...  546. 2302. 2243.]
18 [ 801.  956. 1843. ...   48.  244.  206.]
19 [  2.   4.   7.   3.   6.   5.   8.   9.  19.  18.  11.  36.  14.  16.
  23.  15.  13.  12.  24.  17.  40.  32.  10.  37.  31.  25.  29.  21.
  20.  27.  22.  48.  26.  34.  41.  30.   1.  43.  33.  58.  28.  47.
  39.  45.  52.  46.  42.  71.  56.  35. 117.  44.  61.  66.  49. 104.
  50.  74.]
20 [ 815 1003 1845 ...   25  100  125]
21 [ 803. 1000. 1847. ...  248.  114.  209.]
22 [0.]
23 [nan]
24 [0. 1.]
25 ['N']
26 [115.  84. 137. 176. 213. 122. 102. 225. 166.  63.  68.  78. 240.  54.
  60. 188. 195. 252. 155. 169. 182. 130. 125. 245.  71.  74.  72.  80.
  73.  75. 222. 100.  58.  91. 246. 185.  47.  93. 120. 140. 150. 135.

In [460]:
test = test.drop(['dup', 'cancelled', 'cancellation_code', 'flights', 'first_dep_time', 'total_add_gtime', 'longest_add_gtime', 'mkt_unique_carrier', 'mkt_carrier_fl_num', 'tail_num', 'op_unique_carrier'], axis = 1)

In [461]:
test.head()

,fl_date,op_carrier_fl_num,origin_airport_id,dest_airport_id,taxi_out,wheels_off,wheels_on,taxi_in,diverted,air_time,distance,total_delay
0,6,2690,14831,14057,20.0,635.0,801.0,2.0,0.0,86.0,569.0,-24.0
1,6,2695,11884,14057,18.0,855.0,956.0,4.0,0.0,61.0,279.0,-6.0
2,6,2704,14747,12094,17.0,1554.0,1843.0,4.0,0.0,109.0,891.0,4.0
3,6,2705,12094,14747,14.0,1931.0,2047.0,7.0,0.0,136.0,891.0,-104.0
4,6,2708,14747,12278,23.0,1224.0,1708.0,3.0,0.0,164.0,1430.0,-60.0

In [462]:
test['total_delay'] = test['total_delay'].apply(lambda x: 0 if x < 0 else 1)

In [463]:
test.head()

,fl_date,op_carrier_fl_num,origin_airport_id,dest_airport_id,taxi_out,wheels_off,wheels_on,taxi_in,diverted,air_time,distance,total_delay
0,6,2690,14831,14057,20.0,635.0,801.0,2.0,0.0,86.0,569.0,0
1,6,2695,11884,14057,18.0,855.0,956.0,4.0,0.0,61.0,279.0,0
2,6,2704,14747,12094,17.0,1554.0,1843.0,4.0,0.0,109.0,891.0,1
3,6,2705,12094,14747,14.0,1931.0,2047.0,7.0,0.0,136.0,891.0,0
4,6,2708,14747,12278,23.0,1224.0,1708.0,3.0,0.0,164.0,1430.0,0

In [467]:
y_col = 'total_delay'
y = test[y_col]
X = test[test.columns.drop(y_col)]

In [471]:
test = test.dropna()

In [498]:
test = test.astype('float32')
test = test.reset_index()

In [499]:
test = test.drop('index', axis = 1)

In [500]:
test.isnull().sum()

fl_date              0
op_carrier_fl_num    0
origin_airport_id    0
dest_airport_id      0
taxi_out             0
wheels_off           0
wheels_on            0
taxi_in              0
diverted             0
air_time             0
distance             0
total_delay          0
dtype: int64

In [509]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

In [507]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3)

In [508]:
clf = LogisticRegression(penalty = 'none')

clf.fit(X, y)

ValueError: Input contains NaN, infinity or a value too large for dtype('float64').

In [505]:
rfc.fit(X_train, y_train)
y_pred = rfc.predict(X_test)
from sklearn.metrics import accuracy_score

print(accuracy_score(y_test, y_pred))

ValueError: Input contains NaN, infinity or a value too large for dtype('float32').